.footer {
    padding: 10px;
    padding-bottom: 0px;
    height: 50px;
    ;
}

.footer-btn {
    margin-right: 10px;
}

.dx-popup-content {
    margin-bottom: 60px !important;
}

.content {
    height: 100%;
}