<form novalidate (ngSubmit)="onSubmit(form.value)" [formGroup]="form" class="form">
  <div *ngFor="let prop of config" class="group">
    <label [attr.for]="prop">{{prop.label}}</label>

    <div [ngSwitch]="prop.type" class="control">
      <input *ngSwitchCase="'text'" 
        [formControlName]="prop.key"
        [id]="prop.key" [type]="prop.type">

      <input *ngSwitchCase="'number'" 
        [formControlName]="prop.key"
        [id]="prop.key" [type]="prop.type" step="prop.step">
      
      <div *ngSwitchCase="'radio'">
        <label *ngFor="let option of prop.options">
          <input
            type="radio"
            [name]="prop.key"
            [formControlName]="prop.key"
            [value]="option.value"> {{option.label}}
        </label>
      </div>

      <div *ngSwitchCase="'select'">
        <select [formControlName]="prop.key">
          <option *ngFor="let option of prop.options" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
      </div>
    </div>

    <div class="error" *ngIf="form.get(prop.key).invalid && (form.get(prop.key).dirty || form.get(prop.key).touched || submitted)">
        <div *ngIf="form.get(prop.key).errors.required">
          {{ prop.label }} is required.
        </div>
      </div>
  </div>
  <p>
    <button type="submit" class="btn btn-primary form-save">Save</button>
  </p>
</form>