
<div class="landing-page-container">
    <h1 class="p-y-20">Welcome to UDrone!<br>
        <h4>The platform to customize  your data</h4>
    </h1>
    
    <div class="box" *ngFor="let cp of dataSource" [hasPermission]="cp.data.permissions.permissionGroups">
      <app-u-icon-btn [iconClass]="cp.data.inputs.icon" [text]="cp.data.inputs.heading" (click)="openComponent(cp.data)"></app-u-icon-btn>
    </div>
    
    <h1 class="p-t-50 p-l-50">Welcome to UDrone!<br>
        <h4>The platform to customize  your data</h4>
    </h1>
        
    <div class="wrapper start-menu">
        <div class="grid-item box" *ngFor="let comp of dataSource" [hasPermission]="comp.data.permissions.permissionGroups">
            <app-u-icon-btn [iconClass]="comp.data.inputs.icon" [text]="comp.data.inputs.heading" (click)="openComponent(comp.data)"></app-u-icon-btn>
        </div>
    </div>
</div>

