<!--The content below is only a placeholder and can be replaced.-->
<div>

    <!-- <app-dashboard-container [componentDefList]="compDefList"></app-dashboard-container> -->
    <!-- <dx-tile-view class="dx-tile-content" direction="vertical">
        <dxi-item [widthRatio]="2" [heightRatio]="1">
            <app-counter-sparkline heading="Order Count" [countQuery]="countQuery" [sparkQuery]="sparkQuery" id="test1"></app-counter-sparkline>
        </dxi-item>
        <dxi-item [widthRatio]="2" [heightRatio]="1">
            <app-counter-sparkline heading="Trade Count" [countQuery]="countQuery" [sparkQuery]="sparkQuery" id="test1"></app-counter-sparkline>
        </dxi-item>
        <dxi-item [widthRatio]="2" [heightRatio]="1">
            <app-counter-sparkline heading="Open Count" [countQuery]="countQuery" [sparkQuery]="sparkQuery" id="test1"></app-counter-sparkline>
        </dxi-item>
        <dxi-item [widthRatio]="2" [heightRatio]="1">
            <app-counter-sparkline heading="Report Count" [countQuery]="countQuery" [sparkQuery]="sparkQuery" id="test1"></app-counter-sparkline>
        </dxi-item>
    </dx-tile-view> -->


    <!-- <app-u-guage [value]="value" [options]="guageOptions"></app-u-guage>
    <app-u-table [tableOptions]="tableOptions"></app-u-table>

    <div style="width:250px; border: 1px solid gray;padding: 20px 20px;">
        <app-u-sparkline [data]="sparkData"></app-u-sparkline>
    </div>

    <app-u-spline [data]="randomData" [options]="splineOptions"></app-u-spline>

    <app-u-text [text]="2017/01/01" [styles]="styles"></app-u-text>

    <app-bg-counter [value]="counter"></app-bg-counter> -->
</div>