    /*
    Flaticon icon font: Flaticon
    Creation date: 24/11/2017 06:59
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-social:before { content: "\f100"; }
.flaticon-notification:before { content: "\f101"; }
.flaticon-menu:before { content: "\f102"; }
.flaticon-export:before { content: "\f103"; }
.flaticon-technology-1:before { content: "\f104"; }
.flaticon-business-5:before { content: "\f105"; }
.flaticon-up-arrow:before { content: "\f106"; }
.flaticon-business-4:before { content: "\f107"; }
.flaticon-graphic-19:before { content: "\f108"; }
.flaticon-graphic-18:before { content: "\f109"; }
.flaticon-graphic-17:before { content: "\f10a"; }
.flaticon-graphic-16:before { content: "\f10b"; }
.flaticon-graphic-15:before { content: "\f10c"; }
.flaticon-graphic-14:before { content: "\f10d"; }
.flaticon-coins:before { content: "\f10e"; }
.flaticon-graphic-13:before { content: "\f10f"; }
.flaticon-graphic-12:before { content: "\f110"; }
.flaticon-graphic-11:before { content: "\f111"; }
.flaticon-graphic-10:before { content: "\f112"; }
.flaticon-business-3:before { content: "\f113"; }
.flaticon-business-2:before { content: "\f114"; }
.flaticon-graphic-9:before { content: "\f115"; }
.flaticon-graphic-8:before { content: "\f116"; }
.flaticon-graphic-7:before { content: "\f117"; }
.flaticon-graphic-6:before { content: "\f118"; }
.flaticon-graphic-5:before { content: "\f119"; }
.flaticon-business-1:before { content: "\f11a"; }
.flaticon-file:before { content: "\f11b"; }
.flaticon-graphic-4:before { content: "\f11c"; }
.flaticon-business:before { content: "\f11d"; }
.flaticon-chart:before { content: "\f11e"; }
.flaticon-connection-1:before { content: "\f11f"; }
.flaticon-graphic-3:before { content: "\f120"; }
.flaticon-connection:before { content: "\f121"; }
.flaticon-graphic-2:before { content: "\f122"; }
.flaticon-graphic-1:before { content: "\f123"; }
.flaticon-web:before { content: "\f124"; }
.flaticon-pen:before { content: "\f125"; }
.flaticon-close:before { content: "\f126"; }
.flaticon-arrows:before { content: "\f127"; }
.flaticon-interface:before { content: "\f128"; }
.flaticon-pie-graphic:before { content: "\f129"; }
.flaticon-person:before { content: "\f12a"; }
.flaticon-line:before { content: "\f12b"; }
.flaticon-science:before { content: "\f12c"; }
.flaticon-search:before { content: "\f12d"; }
.flaticon-technology:before { content: "\f12e"; }
.flaticon-danger:before { content: "\f12f"; }
.flaticon-graphic:before { content: "\f130"; }
.flaticon-cogwheel:before { content: "\f131"; }
.flaticon-square:before { content: "\f132"; }
.flaticon-time:before { content: "\f133"; }
.flaticon-car:before { content: "\f134"; }
.flaticon-planet:before { content: "\f135"; }
.flaticon-ring:before { content: "\f136"; }
.flaticon-symbol:before { content: "\f137"; }
.flaticon-error:before { content: "\f138"; }
    
    $font-Flaticon-social: "\f100";
    $font-Flaticon-notification: "\f101";
    $font-Flaticon-menu: "\f102";
    $font-Flaticon-export: "\f103";
    $font-Flaticon-technology-1: "\f104";
    $font-Flaticon-business-5: "\f105";
    $font-Flaticon-up-arrow: "\f106";
    $font-Flaticon-business-4: "\f107";
    $font-Flaticon-graphic-19: "\f108";
    $font-Flaticon-graphic-18: "\f109";
    $font-Flaticon-graphic-17: "\f10a";
    $font-Flaticon-graphic-16: "\f10b";
    $font-Flaticon-graphic-15: "\f10c";
    $font-Flaticon-graphic-14: "\f10d";
    $font-Flaticon-coins: "\f10e";
    $font-Flaticon-graphic-13: "\f10f";
    $font-Flaticon-graphic-12: "\f110";
    $font-Flaticon-graphic-11: "\f111";
    $font-Flaticon-graphic-10: "\f112";
    $font-Flaticon-business-3: "\f113";
    $font-Flaticon-business-2: "\f114";
    $font-Flaticon-graphic-9: "\f115";
    $font-Flaticon-graphic-8: "\f116";
    $font-Flaticon-graphic-7: "\f117";
    $font-Flaticon-graphic-6: "\f118";
    $font-Flaticon-graphic-5: "\f119";
    $font-Flaticon-business-1: "\f11a";
    $font-Flaticon-file: "\f11b";
    $font-Flaticon-graphic-4: "\f11c";
    $font-Flaticon-business: "\f11d";
    $font-Flaticon-chart: "\f11e";
    $font-Flaticon-connection-1: "\f11f";
    $font-Flaticon-graphic-3: "\f120";
    $font-Flaticon-connection: "\f121";
    $font-Flaticon-graphic-2: "\f122";
    $font-Flaticon-graphic-1: "\f123";
    $font-Flaticon-web: "\f124";
    $font-Flaticon-pen: "\f125";
    $font-Flaticon-close: "\f126";
    $font-Flaticon-arrows: "\f127";
    $font-Flaticon-interface: "\f128";
    $font-Flaticon-pie-graphic: "\f129";
    $font-Flaticon-person: "\f12a";
    $font-Flaticon-line: "\f12b";
    $font-Flaticon-science: "\f12c";
    $font-Flaticon-search: "\f12d";
    $font-Flaticon-technology: "\f12e";
    $font-Flaticon-danger: "\f12f";
    $font-Flaticon-graphic: "\f130";
    $font-Flaticon-cogwheel: "\f131";
    $font-Flaticon-square: "\f132";
    $font-Flaticon-time: "\f133";
    $font-Flaticon-car: "\f134";
    $font-Flaticon-planet: "\f135";
    $font-Flaticon-ring: "\f136";
    $font-Flaticon-symbol: "\f137";
    $font-Flaticon-error: "\f138";