	/*
  	Flaticon icon font: Flaticon
  	Creation date: 30/11/2017 14:10
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-settings-work-tool:before { content: "\f100"; }
.flaticon-notification-1:before { content: "\f101"; }
.flaticon-man-user:before { content: "\f102"; }
.flaticon-paint-board-and-brush:before { content: "\f103"; }
.flaticon-paint-palette-and-brush:before { content: "\f104"; }
.flaticon-blocks:before { content: "\f105"; }
.flaticon-library:before { content: "\f106"; }
.flaticon-social:before { content: "\f107"; }
.flaticon-notification:before { content: "\f108"; }
.flaticon-menu:before { content: "\f109"; }
.flaticon-export:before { content: "\f10a"; }
.flaticon-technology-1:before { content: "\f10b"; }
.flaticon-business-5:before { content: "\f10c"; }
.flaticon-up-arrow:before { content: "\f10d"; }
.flaticon-business-4:before { content: "\f10e"; }
.flaticon-graphic-19:before { content: "\f10f"; }
.flaticon-graphic-18:before { content: "\f110"; }
.flaticon-graphic-17:before { content: "\f111"; }
.flaticon-graphic-16:before { content: "\f112"; }
.flaticon-graphic-15:before { content: "\f113"; }
.flaticon-graphic-14:before { content: "\f114"; }
.flaticon-coins:before { content: "\f115"; }
.flaticon-graphic-13:before { content: "\f116"; }
.flaticon-graphic-12:before { content: "\f117"; }
.flaticon-graphic-11:before { content: "\f118"; }
.flaticon-graphic-10:before { content: "\f119"; }
.flaticon-business-3:before { content: "\f11a"; }
.flaticon-business-2:before { content: "\f11b"; }
.flaticon-graphic-9:before { content: "\f11c"; }
.flaticon-graphic-8:before { content: "\f11d"; }
.flaticon-graphic-7:before { content: "\f11e"; }
.flaticon-graphic-6:before { content: "\f11f"; }
.flaticon-graphic-5:before { content: "\f120"; }
.flaticon-business-1:before { content: "\f121"; }
.flaticon-file:before { content: "\f122"; }
.flaticon-graphic-4:before { content: "\f123"; }
.flaticon-business:before { content: "\f124"; }
.flaticon-chart:before { content: "\f125"; }
.flaticon-connection-1:before { content: "\f126"; }
.flaticon-graphic-3:before { content: "\f127"; }
.flaticon-connection:before { content: "\f128"; }
.flaticon-graphic-2:before { content: "\f129"; }
.flaticon-graphic-1:before { content: "\f12a"; }
.flaticon-web:before { content: "\f12b"; }
.flaticon-pen:before { content: "\f12c"; }
.flaticon-close:before { content: "\f12d"; }
.flaticon-arrows:before { content: "\f12e"; }
.flaticon-interface:before { content: "\f12f"; }
.flaticon-pie-graphic:before { content: "\f130"; }
.flaticon-person:before { content: "\f131"; }
.flaticon-line:before { content: "\f132"; }
.flaticon-science:before { content: "\f133"; }
.flaticon-search:before { content: "\f134"; }
.flaticon-technology:before { content: "\f135"; }
.flaticon-danger:before { content: "\f136"; }
.flaticon-graphic:before { content: "\f137"; }
.flaticon-cogwheel:before { content: "\f138"; }
.flaticon-square:before { content: "\f139"; }
.flaticon-time:before { content: "\f13a"; }
.flaticon-car:before { content: "\f13b"; }
.flaticon-planet:before { content: "\f13c"; }
.flaticon-ring:before { content: "\f13d"; }
.flaticon-symbol:before { content: "\f13e"; }
.flaticon-error:before { content: "\f13f"; }