<dx-chart [dataSource]="data" [title]="options.title" [size]="options.size">
    <dxi-series [valueField]="s.valueField" [name]="s.name" *ngFor="let s of options.series"></dxi-series>
    <dxo-common-series-settings #seriesSettings [argumentField]="options.argumentField" type="spline">
    </dxo-common-series-settings>
    <dxo-margin [bottom]="10"></dxo-margin>
    <dxo-common-axis-settings>
        <dxo-grid [visible]="options.showDataGrid"></dxo-grid>
    </dxo-common-axis-settings>
    <dxo-legend verticalAlignment="top" horizontalAlignment="right">
    </dxo-legend>
    <dxo-export [enabled]="options.dataExport"></dxo-export>
    <dxo-tooltip [enabled]="options.showTooltip"></dxo-tooltip>
</dx-chart>