<div class="dx-clearfix ">
    <!-- action buttons -->
    <div class="panel-action-btns">
            <span class="flaticon-pie-graphic" ></span>
            <span class="flaticon-web" ></span>
            <span class="flaticon-pen"></span>
            <span class="flaticon-arrows" (click)="onMinimizeComponent()"></span>
            <span class="flaticon-close" (click)="onCloseComponent()"></span>
    </div>
    <div class="module-wrapper">
        <div class="module-wrapper-inner">
            <div class="grid-item" *ngFor='let comp of componentDefList' [hasPermission]="comp.permissions.permissionGroups">
                <app-dcl-wrapper [componentDef]="comp"></app-dcl-wrapper>
            </div>
        </div>
    </div>
</div>