#main-container {
    height: 100% !important;
    #header {
        height: 60px;
    }
    #footer {
        height: 60px;
        .task-item {
            margin-right: 3px;
        }
    }
    #window-title {
        font-size: 25px;
        height: 60px;
        line-height: 60px;
        padding: 0px 15px;
    }
    #container-body {
        margin: 5px;
        margin-bottom: 0px;
        height: 100vh -120px;
        overflow: auto;
    }
    #logo_image {
        height: 93%;
        width: 174px;
        background-size: contain;
        margin: 3px 15px;
    }
    .search-widget {
        width: 280px;
        margin: 6px 12px;
    }
    .system-info {
        height: 100%;
    }
}