/* You can add global styles to this file, and also import other style files */

.h-seperator {
    border-bottom: 1px solid #eaeaea;
    margin: 0px 10px;
}

.inline {
    display: inline-block;
}

#footer {
    .icon {
        font-size: 25px;
    }
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

#logo_image {
    background: url("assets/imgs/logo.png") no-repeat;
    border-right: 2px solid white;
}

.pointer {
    cursor: pointer;
}

.dx-toolbar .dx-button .dx-icon {
    box-sizing: border-box !important;
}

.dx-datagrid {
    padding: 15px 20px 5px 20px;
}

.close-btn {
    font-size: 22px;
    line-height: 24px;
    padding: 0px 8px;
    position: absolute;
    right: 21px;
    z-index: 1000;
    color: #b7b7b7;
    color: white;
    background-color: #EE582E;
    border-bottom-right-radius: 8px;
}

.mini-btn {
    font-size: 19px;
    line-height: 24px;
    padding: 0px 10px;
    position: absolute;
    right: 59px;
    z-index: 1000;
    color: white;
    background-color: #44A2D5;
    border-bottom-left-radius: 8px;
}