
/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/font-sizes';
@import 'assets/styles/colors';
@import 'assets/styles/landing-page';
@import 'assets/styles/layout';
@import 'assets/styles/search';
@import 'assets/styles/variables';


h1, h4{
    color: $primary; font-family: $primary-font;
}
h1{ font-size: $font-50; font-weight: 100}
h4{ font-size: $font-20; font-weight: 500}

.h-seperator {
    border-bottom: 1px solid #eaeaea;
    margin: 0px 10px;
}

.inline {
    display: inline-block;
}

#footer {
    .icon {
        font-size: 25px;
    }
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}



.pointer {
    cursor: pointer;
}

.dx-toolbar .dx-button .dx-icon {
    box-sizing: border-box !important;
}

.dx-datagrid {
    padding: 15px 20px 5px 20px;
}

.close-btn {
    font-size: 22px;
    line-height: 24px;
    padding: 0px 8px;
    position: absolute;
    right: 21px;
    z-index: 1000;
    color: #b7b7b7;
    color: white;
    background-color: #EE582E;
    border-bottom-right-radius: 8px;
}

.mini-btn {
    font-size: 19px;
    line-height: 24px;
    padding: 0px 10px;
    position: absolute;
    right: 59px;
    z-index: 1000;
    color: white;
    background-color: #44A2D5;
    border-bottom-left-radius: 8px;
}





app-window {
    .wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
    .grid-item {
        border-color: rgb(231, 231, 231);
    }
}

app-start-menu {
    .grid-item {
        border-color: rgb(231, 231, 231);
    }
}
