$primary        : rgb(58, 165, 214);
$primary-dark   : #0D759E;
$primary-darker : rgb(5, 102, 134);
$primary-light  : rgb(148, 217, 240);
$primary-lighter: #dae6ef;
$red            : #ff0000;
$red-light      : #ec4949;
$green          : #00ff00;
$green-dark     : #006900;
$green-light    : #8aec8a;
$grey-dark2     : #a3a3a3;
$grey-light     : #dddddd; /* #f7f7f7 */
$grey-lighter   : #f7f7f7;
$grey-btn       : #d1d1d1;;
$white          : #fff;
$black          : #000;
$orange         : #ff9900;
$ustock-red     : #EE582D;
