$primary        : rgb(58, 165, 214);
$primary-dark   : #0D759E;
$primary-lighter: #dae6ef;
$red            : #ff0000;
$red-light      : #ec4949;
$green-light    : #8aec8a;
$grey-dark2     : #c5c4c4;
$grey-light     : #dddddd;
$white          : #fff;
$black          : #000;