.dx-popup-wrapper > .dx-overlay-content{border-radius: 0px !important;}
.dx-popup-title{color: $primary!important; }
.dx-popup-title .dx-closebutton.dx-state-hover{color: $primary!important; }

/*-----TABS -------*/
.dx-tabpanel .dx-tabs {
    background-color:$primary-lighter !important;
}