#main-container {
    height: 100% !important;
    #header {
        height: 60px; /*background-color:$primary; */border-right: none !important;
    }
    #footer {
        height: 60px;
        .task-item {
            margin-right: 3px;
        }
    }
    #window-title {
        font-size: 25px;
        height: 60px;
        line-height: 60px;
        padding: 0px 15px;
    }
    #container-body {
        margin: 5px;
        margin-bottom: 0px;
        height: 100vh -120px;
        overflow: auto;
    }
    #logo_image {
        height: 100%;
        width: 150px;
        background-size: contain;
        margin: 10px;
        background: url("assets/imgs/logo.png") no-repeat;
        @media screen and (max-width: 520px) {
            display: none;
        }
    }
    .system-info {
        height: 100%;
    }
    .dx-field {
        padding: 0px;
    }
}

#header .header-search-row app-u-icon-btn {color: $primary; padding: 20px;  float: right;
    :hover{color: $primary-dark }
    .u-btn-icon::before{font-size: 20px;}
}





/*----- Media Quaries -------*/
    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        .header-search-row{ padding-left: 0; display: block}
        }
        
        /* Extra Small Devices, Phones */ 
        @media only screen and (min-width : 480px) {
            .header-search-row{ padding-left: 0; display: block}
        }
        
        /* Small Devices, Tablets */
        @media only screen and (min-width : 768px) {
            .header-search-row{ padding-left: 80px; display: block}
        }
        
        /* Medium Devices, Desktops */
        @media only screen and (min-width : 992px) {
            .header-search-row{ padding-left: 80px; display: block}
        }
        
        /* Large Devices, Wide Screens */
        @media only screen and (min-width : 1200px) {
            .header-search-row{float: left; padding-left: 80px; display: block}
        }