#main-container {
    height: 100% !important;
    #header {
        height: 60px; /*background-color:$primary; */border-right: none !important;
    }
    #footer {
        height: 60px;
        .task-item {
            margin-right: 3px;
        }
    }
    .title{color: $primary; padding: 15px 0 0 40px ; border-left: 2px solid $primary; 
        position: absolute;}
    #window-title {
        font-size: 25px;
        height: 60px;
        line-height: 60px;
        padding: 0px 15px;
    }
    #container-body {
        margin: 5px;
        margin-bottom: 0px;
        height: 100vh -120px;
        overflow: auto;
    }
    #logo_image {
        height: 100%;
        width: 150px;
        background-size: contain;
        margin: 10px;
        background: url("assets/imgs/logo.png") no-repeat;
        display: block !important;
    }
    .system-info {
        height: 100%;
    }
    .dx-field {
        padding: 0px;
    }
}

.header-search-row{float: right;  display: block; padding-right: 40px}

#header .header-search-row app-u-icon-btn {color: $primary; padding: 20px;  float: right;
    :hover{color: $primary-dark }
    .u-btn-icon::before{font-size: 20px;}
}
#main-container #header{border-bottom: 1px solid $primary-lighter;}




/*----- Media Quaries -------*/
    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        }
        
        /* Extra Small Devices, Phones */ 
        @media only screen and (min-width : 480px) {
        }
        
        /* Small Devices, Tablets */
        @media only screen and (min-width : 768px) {
        }
        
        /* Medium Devices, Desktops */
        @media only screen and (min-width : 992px) {
        }
        
        /* Large Devices, Wide Screens */
        @media only screen and (min-width : 1200px) {
           
        }

        .toggle-view{padding-right: 15px; float: left}
       