
.hamburger {
    display: block;
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 26px;
    height: 60px;
    font-size: 0;
    text-indent: -9999px;
    cursor: pointer;
    outline: none;
    background: none;
    border: 0;
    right:10px;
  }
  
  
  .hamburger span {
    display: block;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    height: 4px;
    background: $primary;
  }
  
  .hamburger span::before,
  .hamburger span::after {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $primary;
    content: "";
  }
  
  .hamburger span::before {
    top: -8px;
  }
  
  .hamburger span::after {
    bottom: -8px;
  }

  app-menu{top:60px}
