@import url("../devextreme/css/dx.light.css");
.text-info-h1 {
    color: #1695D8 !important;
}

#header {
    height: 50px;
    background-color: #F7F7F7;
    color: #39393B;
}

#footer {
    height: 50px;
    background-color: #dddddd;
}

#container-body {
    background-color: white;
}

.u-icon-btn:hover {
    color: #168CCA;
}

.icon-btn-active {
    background-color: white !important;
}