
@import '../../../assets/styles/colors';

:host {
    background: $white;
    color: #000;
    position: fixed;
    left: auto;
    top: 60px;
    right: 0;
    bottom: 60px;
    width: 14%;
    min-width: 180px;
    z-index: 9999;
    padding: 20px;
    border-left: 1px solid $primary-light;
    overflow-y:auto;
  }
  
